@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

:root {
    --ff-primary: 'Raleway', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

    --font-clr-accent-1: #109C8B;
    --font-clr-white: white;
    --font-clr-black: #111111;
    --font-clr-primary: #283030;
    --font-clr-1: #4D5C5C;
    --font-clr-2: #314D4F;
    --font-clr-3: #404444;
    --font-clr-validator: #c33;

    --bg-clr-unfocus: #43434359;
    --bg-clr-accent: #109C8B;
    --bg-clr-accent-2: #36b856;
    --bg-clr-accent-3: #dd4646;
    --bg-clr-accent-lighter: #15BEAA;
    --bg-clr-1: #FFFFFF;
    --bg-clr-2: #F5F5F5;
    --bg-clr-3: #ECECEC;
    --validator-border-clr: rgb(228, 99, 99);
    --bg-clr-validator: #fee;
    --border-clr: #C7C7C7;
    --input-clr: #FFF;
    --input-border-clr: #a5a5a5;
    --input-border-accent: #109C8B;
		--input-font: #283030;

    --shadow-clr-1: rgba(0, 0, 0, 0.07);
    --shadow-clr-2: rgba(0, 0, 0, 0.2);

    --nav-bar-size: 17em;
    --nav-bar-size-mobile: 4rem;

    --filter-svg-1: invert(2%) sepia(3%) saturate(928%) hue-rotate(315deg) brightness(104%) contrast(91%);
    --filter-svg-2: invert(100%) sepia(43%) saturate(1032%) hue-rotate(174deg) brightness(104%) contrast(108%);
    --filter-svg-3: invert(49%) sepia(68%) saturate(475%) hue-rotate(123deg) brightness(86%) contrast(100%);
}

/* :root {
    --ff-primary: 'Raleway', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

    --font-clr-accent-1: #109C8B;
    --font-clr-white: white;
    --font-clr-black: #111111;
    --font-clr-1: #7A8C8D;
    --font-clr-2: #BACFCA;
    --font-clr-3: #404444;
    --font-clr-validator: #ff5353;

    --bg-clr-unfocus: #43434359;
    --bg-clr-accent: #109C8B;
    --bg-clr-accent-2: #36b856;
    --bg-clr-accent-3: #dd4646;
    --bg-clr-accent-lighter: #15BEAA;
    --bg-clr-1: #111111;
    --bg-clr-2: #353535;
    --bg-clr-3: #1E1E1E ;
    --border-clr: #C7C7C7;
    --input-clr: #353535;
    --input-placeholder: #5c5c5c;
    --input-border-clr: #353535;
    --input-border-accent: #109C8B;
    --input-font: #889292;

    --shadow-clr-1: rgba(0, 0, 0, 0.07);
    --shadow-clr-2: rgba(0, 0, 0, 0.2);

    --nav-bar-size: 17em;
    --nav-bar-size-mobile: 4rem;

    --filter-svg-1: invert(2%) sepia(3%) saturate(928%) hue-rotate(315deg) brightness(104%) contrast(91%);
    --filter-svg-2: invert(100%) sepia(43%) saturate(1032%) hue-rotate(174deg) brightness(104%) contrast(108%);
    --filter-svg-3: invert(49%) sepia(68%) saturate(475%) hue-rotate(123deg) brightness(86%) contrast(100%);
} */


.App {
  display: flex;
  height: 100vh;
}

h1,
h2 {
  color: var(--font-clr-accent-1);
}

* {
    margin: 0;
		padding: 0;
    box-sizing: border-box;
}

body {
	font-family: var(--ff-secondary);
	background-color: var(--bg-clr-3);
  color: var(--font-clr-primary);
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* --UTILITY-- */

.logo {
  width: 2.5em;
}

.image {
  border: 1px solid var(--border-clr);
  width: var(--img-size, 5em);
}

.image-round {
  border-radius: 50%;
}

.image-small {
  --img-size: 2em;
}

.image-medium {
  --img-size: 3em;
}

.image-big {
  --img-size: 10em;
}

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.github {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 1.5em;
}

.page {
  margin-left: var(--nav-bar-size);
  flex-basis: 100%;
  overflow-y: auto;
}

.component {
}

.component__header {
}

.component__body {
}



.fullpage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: min(2em, 5vw);
  align-items: center;
  justify-content: center;
  background-color: var(--bg-clr-1);
  --loading-loop-size: min(7em, 12vw);
}

.brand {
  font-size: 2.3em;
}

.brand-big {
  font-size: min(4em, 17vw);
}

.link {
  text-decoration: none;
  color: var(--link-color, var(--bg-clr-accent));
}

.button:disabled {
  position: relative;
  background-color: var(--input-border-clr);
  border-color: var(--input-border-clr);
  color: transparent;
  cursor: default;

}

.button {
  background-color: var(--bg-clr-accent);
  border: 2px solid var(--bg-clr-accent);
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: .5em;
  cursor: pointer;
  transition: background-color .3s, border .3s, color .3s;
}

.button:hover {
  background-color: var(--bg-clr-accent-lighter);
  border-color: var(--bg-clr-accent-lighter);
}

.button-outlined {
  background-color: transparent;
  color: var(--font-clr-accent-1);
}

.button-outlined:hover {
  color: var(--font-clr-white);
}

.button-red {
  background-color: var(--bg-clr-accent-3);
  border-color: var(--bg-clr-accent-3);
  transition: filter .3s;
}

.button-red:hover {
  background-color: var(--bg-clr-accent-3);
  border-color: var(--bg-clr-accent-3);
  filter: brightness(110%);
}

.back-button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  top: 1em;
  left: 1em;
  position: absolute;
  filter: var(--filter-svg-3);
}

.loading-loop {
  animation: spin 1s infinite linear;
  background-color: transparent;
  width: var(--loading-loop-size, 1rem);
  height: var(--loading-loop-size, 1rem);
  fill: var(--loading-loop-clr, white);
}

@keyframes spin {
  from {
      transform: rotateZ(10deg);
  }
  to {
      transform: rotateZ(370deg); 
  }
}

.page-title {
  font-size: min(7em, 12vw);
}

/* --END UTILITY-- */

/* --MODAL-- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-clr-unfocus);
  animation: opacity .2s;
}

.modal__box {
  background-color: var(--bg-clr-1);
  padding: 1em;
  border-radius: 5px;
  width: 40em;
  margin: min(1em, 2vw);
  animation: slideIn .3s;
  box-shadow: 0px 0px 14px 7px var(--shadow-clr-2);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal__footer {
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
}

@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* --END MODAL-- */

/* --FORMS-- */

.form {
  width: min(20em, 100%);
  animation: slideIn .2s;
  flex-direction: column;
  --gap: 1em;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(10%); 
  }
  to {
      opacity: 1;
      transform: translateY(0); 
  }
}

.form__wrapper {
  flex-direction: column;
  gap: 0;
}

.form__field {
  width: 100%;
    position: relative;
}

label, .form__input {
  transition: all 0.2s;
}

.form__input {
  width: 100%;
	padding: 1em;
	background-color: var(--input-clr);
	color: var(--input-font);
	border: 2px solid var(--input-border-clr);
	border-radius: 5px;
}

.form__input:focus,
.form__input:hover {
  outline: none;
  border: 2px solid var(--input-border-accent);
}

.form__input::placeholder {
  display: none;
  opacity: 0;
}

label {
	position: absolute;
	left: .5em;
	color: var(--input-placeholder);
	padding: 0 .5em;
	cursor: text;
	width: fit-content;
	transform-origin: left bottom;
}

.form__input:placeholder-shown + label {
	top: 50%;
	transform: translateY(-50%);
	color: grey;
}

.form__input:not(:placeholder-shown),
.form__input:focus {
	padding-top: 1.5em;
	padding-bottom: .5em;
}

.form__input:not(:placeholder-shown) + label,
.form__input:focus + label {
	top: 0;
	color: grey;
	transform: translateY(5%) scale(80%);
}

.form__input[invalid="true"] {
  border-color: var(--validator-border-clr);
}

.validator {
  color: var(--font-clr-validator);
  font-size: .9rem;
  margin: .2em .5em;
}

.validators {
  background-color: var(--bg-clr-validator);
}

/* --END FORMS-- */

/* --AUTH-- */
.auth {
  position: relative;
  background-color: var(--bg-clr-1);
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  order: 2;
  box-shadow: -2px 0px 4px 4px var(--shadow-clr-1);
  flex-basis: 30%;
}

.auth-image {
  order: 1;
  align-items: center;
  justify-content: center;
  flex-basis: 70%;
}

.auth-image svg {
  transform: rotate(11deg);
  width: 60%;
  height: 60%;
}

.auth__links {
  flex-direction: column;
  align-items: center;
  --gap: .5em;
}

/* --END AUTH-- */

/* --HEADER-- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-clr-1);
  height: 100vh;
  padding: 1em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: var(--nav-bar-size);
}

.header__menu {
  display: none;
}

.header__brand {
  align-items: center;
  --gap: .5em;
}

.nav {
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
}

.nav__links {
  padding-left: 2em;
  padding-top: 1em;
  width: fit-content;
}

.nav__link{
  text-decoration: none;
  width: fit-content;
}

.nav__link h1 {
  position: relative;
  width: fit-content;
}

.nav__link h1::after {
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  background-color: var(--bg-clr-accent);
  width: 100%;
  height: 4px;
  transform: scaleX(0);
  transition: transform .2s;
}

.nav__link--active h1::after,
.nav__link h1:hover::after {
    transform: scaleX(1);
}

.nav__auth {
  align-items: center;
}

/* --END HEADER */

@media screen and (max-width: 600px) {

  /* --HEADER-- */

  .App {
    display: block;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--nav-bar-size-mobile);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__menu {
    display: block;
    fill: var(--bg-clr-accent);
    width: 2em;
    height: 2em;
    cursor: pointer;
  }

  .auth {
    overflow-y: auto;
  }

  .page {
    flex-basis: auto;
    height: 5000em;
    margin: 0;
  }

  .logo {
    display: none;
  }

  .nav {
    position: fixed;
    top: var(--nav-bar-size-mobile);
    right: 0;
    height: calc(100vh - var(--nav-bar-size-mobile));
    padding: 1em;
    background-color: var(--bg-clr-1);
    transform: translateX(110%);
    transition: transform .3s;
    transition-timing-function: ease-in;
  }

  .nav--active {
    transform: translateX(0);
  }

  /* --END HEADER-- */

  /* --AUTH-- */
  .auth-image {
    display: none;
  }
  .auth {
    flex-basis: 100%;
  }
  /* --END AUTH-- */
}