@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --ff-primary: 'Raleway', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

    --validator-border-clr: rgb(216, 66, 66);
    --bg-clr-validator: rgba(255, 0, 0, 0.097);

    --shadow-clr-1: rgba(0, 0, 0, 0.07);
    --shadow-clr-2: rgba(0, 0, 0, 0.2);

    --nav-bar-size: 17em;
    --nav-bar-size-mobile: 4rem;

    --font-clr-accent--1:  #109C8B;
    --font-clr-white:  white;
    --font-clr-black:  #111111;
    --font-clr-primary:  #283030;
    --font-clr-1:  #5e6d6d;
    --font-clr-2:  #283f41;
    --font-clr-3:  #323535;
    --font-clr-validator:  #c33;
    --bg-clr-unfocus:  #43434359;
    --bg-clr-accent:  #109C8B;
    --bg-clr-accent-2:  #36b856;
    --bg-clr-accent-3:  #dd4646;
    --bg-clr-accent-lighter:  #15BEAA;
    --bg-clr-1:  #FFFFFF;
    --bg-clr-2:  #F5F5F5;
    --bg-clr-3:  #ECECEC;
    --border-clr:  #C7C7C7;
    --input-clr:  #FFF;
    --input-border-clr:  #a5a5a5;
    --input-border-accent:  #109C8B;
    --input-font:  #283030;
    --filter-svg-1:  invert(2%) sepia(3%) saturate(928%) hue-rotate(315deg) brightness(104%) contrast(91%);
    --filter-svg-2:  invert(100%) sepia(43%) saturate(1032%) hue-rotate(174deg) brightness(104%) contrast(108%);
    --filter-svg-3:  invert(49%) sepia(68%) saturate(475%) hue-rotate(123deg) brightness(86%) contrast(100%);

    --filter-svg-1: invert(2%) sepia(3%) saturate(928%) hue-rotate(315deg) brightness(104%) contrast(91%);
}

.App {
  display: flex;
  min-height: 100vh;
}

h1,
h2 {
  color: var(--font-clr-accent-1);
}

* {
    margin: 0;
		padding: 0;
    box-sizing: border-box;
}

body {
	font-family: var(--ff-secondary);
	background-color: var(--bg-clr-3);
  color: var(--font-clr-primary);
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* --UTILITY-- */

.logo {
  width: 2.5em;
}

.image {
  border: 1px solid var(--border-clr);
  width: var(--img-size, 5em);
  height: var(--img-size, 5em);
  object-fit:cover;
}

.image-round {
  border-radius: 50%;
}

.image-small {
  --img-size: 2em;
}

.image-medium {
  --img-size: 3em;
}

.image-big {
  --img-size: 10em;
}

.image-xl {
  --img-size: 15em;
}

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.github {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 1.5em;
}

.page {
  margin-left: var(--nav-bar-size);
  padding: 1em;
  flex-basis: 100%;
  overflow-y: auto;
}

.component {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--bg-clr-1);
  padding: 1em min(1em, 2vw);
  border-radius: 5px;
  box-shadow: 2px 1px 3px 3px var(--shadow-clr-1);
}

.component__header {
  background-color: var(--bg-clr-1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
}

.component__header--sticky {
  align-items: flex-start;
  position: sticky;
  padding-top: .5em;
  padding-bottom: .2em;
  z-index: 50;
  top: -1em;
  left: 0;
}

.component__body {
  position: relative;
  display: flex;
  justify-content: center;
}

.component__footer {
  position: relative;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.fullpage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: min(2em, 5vw);
  align-items: center;
  justify-content: center;
  background-color: var(--bg-clr-1);
  --loading-loop-size: min(7em, 12vw);
  --loading-loop-clr: var(--bg-clr-accent);
}

.brand {
  font-size: 2.3em;
}

.brand-big {
  font-size: min(4em, 17vw);
}

.link {
  text-decoration: none;
  color: var(--link-color, var(--bg-clr-accent));
}

.button:disabled {
  position: relative;
  background-color: var(--input-border-clr);
  border-color: var(--input-border-clr);
  color: transparent;
  cursor: default;

}

.button {
  background-color: var(--bg-clr-accent);
  border: 2px solid var(--bg-clr-accent);
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: .5em;
  cursor: pointer;
  transition: background-color .3s, border .3s, color .3s;
}

.button:hover {
  background-color: var(--bg-clr-accent-lighter);
  border-color: var(--bg-clr-accent-lighter);
}

.button-outlined {
  background-color: transparent;
  color: var(--font-clr-accent-1);
}

.button-outlined:hover {
  color: var(--font-clr-white);
}

.button-red {
  background-color: var(--bg-clr-accent-3);
  border-color: var(--bg-clr-accent-3);
  transition: filter .3s;
}

.button-red:hover {
  background-color: var(--bg-clr-accent-3);
  border-color: var(--bg-clr-accent-3);
  filter: brightness(110%);
}

.back-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.back-button svg {
  width: 2rem;
  height: 2rem;
  fill: var(--bg-clr-accent);
}

.theme-button {
  position: relative;
  padding: 0 .3em;
  height: 1.5em;
  display: flex;
  align-items: center;
  aspect-ratio: 2;
  border-radius: 15px;
  background-color: #a5a5a5;
  transition: background-color .3s;
  cursor: pointer;
}

.theme-button::after {
  content: '';
  height: 80%;
  position: relative;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: white;
  transition: transform .3s;
}

.theme-button.dark {
  background-color: var(--bg-clr-accent-2);
}

.theme-button.dark::after {
  transform: translateX(100%);
}

.icon-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.loading-loop {
  animation: spin 1s infinite linear;
  width: var(--loading-loop-size, 1rem);
  height: var(--loading-loop-size, 1rem);
  fill: var(--loading-loop-clr, white);
}

@keyframes spin {
  from {
      transform: rotateZ(10deg);
  }
  to {
      transform: rotateZ(370deg); 
  }
}

.page-title {
  font-size: min(7em, 12vw);
}

/* --END UTILITY-- */

/* --LOADING-- */

.loading {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.loading--profile .loading__circle {
  width: 15em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--bg-clr-3);
}

.loading--nav {
  flex-direction: row;
}

.loading--nav .loading__circle {
  width: 5em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--bg-clr-3);
}

.loading__bar {
  width: 100%;
  height: 1em;
  border-radius: 10px;
  background-color: var(--bg-clr-3);
}

/* --END LOADING-- */

/* --MODAL-- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-clr-unfocus);
  animation: opacity .2s;
}

.modal__box {
  position: relative;
  background-color: var(--bg-clr-1);
  padding: 1em;
  border-radius: 5px;
  width: 40em;
  margin: min(1em, 2vw);
  animation: slideIn .3s;
  box-shadow: 0px 0px 14px 7px var(--shadow-clr-2);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal__header {
  display: flex;
  align-items: center;
}

.modal__body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal__close {
  margin-left: auto;
  height: 2em;
  width: 2em;
  fill: var(--bg-clr-accent);
  cursor: pointer;
}

.modal__footer {
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
}

@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* --END MODAL-- */

/* --FORMS-- */

.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  width: min(20em, 100%);
  animation: slideIn .2s;
  flex-direction: column;
  --gap: 1em;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(10%); 
  }
  to {
      opacity: 1;
      transform: translateY(0); 
  }
}

.form__wrapper {
  flex-direction: column;
  gap: 0;
}

.form__field {
  width: 100%;
    position: relative;
}

label, .form__input {
  transition: all 0.2s;
}

.form__input {
  width: 100%;
	padding: 1em;
	background-color: var(--input-clr);
	color: var(--input-font);
	border: 2px solid var(--input-border-clr);
	border-radius: 5px;
}

.form__input:focus,
.form__input:hover {
  outline: none;
  border: 2px solid var(--input-border-accent);
}

.form__input::placeholder {
  display: none;
  opacity: 0;
}

.form__label {
	position: absolute;
	left: .5em;
	color: var(--input-placeholder);
	padding: 0 .5em;
	cursor: text;
	width: fit-content;
	transform-origin: left bottom;
}

.form__input:placeholder-shown + label {
	top: 50%;
	transform: translateY(-50%);
	color: grey;
}

.form__input:not(:placeholder-shown),
.form__input:focus {
	padding-top: 1.5em;
	padding-bottom: .5em;
}

.form__input:not(:placeholder-shown) + label,
.form__input:focus + label {
	top: 0;
	color: grey;
	transform: translateY(5%) scale(80%);
}

.form__input[invalid="true"] {
  border-color: var(--validator-border-clr);
}

.validator {
  color: var(--font-clr-validator);
  font-size: .9rem;
  margin: .2em .5em;
}

.validators {
  background-color: var(--bg-clr-validator);
}

.img-input {
  visibility: hidden;
  position: absolute;
}

.label-img-input {
  position: relative;
  
}

.label-img-input:hover::after {
  content: 'Change profile image';
  background-color: var(--shadow-clr-2);
  position: absolute;
  display: grid;
  place-content: center;
  color: var(--font-clr-white);
  cursor: pointer;
  left: 0;
  top: 0;
  width: 99%;
  height: 99%;
  border-radius: 50%;
}

/* --END FORMS-- */

/* --AUTH-- */
.auth {
  position: relative;
  background-color: var(--bg-clr-1);
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  order: 2;
  box-shadow: -2px 0px 4px 4px var(--shadow-clr-1);
  flex-basis: 30%;
}

.auth .back-button {
  position: absolute;
  top: 1em;
  left: 1em;
}

.auth-image {
  order: 1;
  align-items: center;
  justify-content: center;
  flex-basis: 70%;
}

.auth-image svg {
  transform: rotate(11deg);
  width: 60%;
  height: 60%;
}

.auth__links {
  flex-direction: column;
  align-items: center;
  --gap: .5em;
}

/* --END AUTH-- */

/* --HEADER-- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-clr-1);
  height: 100vh;
  padding: 1em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: var(--nav-bar-size);
}

.header__menu {
  display: none;
}

.header__brand {
  align-items: center;
  --gap: .5em;
}

.nav {
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
}

.nav__links {
  padding-left: 2em;
  padding-top: 1em;
  width: fit-content;
}

.nav__links li {
  margin-bottom: 1em;
}

.nav__link{
  text-decoration: none;
  width: fit-content;
}

.nav__link h1 {
  position: relative;
  width: fit-content;
}

.nav__link h1::after {
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  background-color: var(--bg-clr-accent);
  width: 100%;
  height: 4px;
  transform: scaleX(0);
  transition: transform .2s;
}

.nav__link--active h1::after,
.nav__link h1:hover::after {
    transform: scaleX(1);
}

.nav__auth {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* --END HEADER-- */

/* --PROFILE-- */

.theme-changer {
  display: flex;
  align-items: center;
  gap: 1em;
}

.theme-button {
  border: none;
}

.profile__edit {
  position: absolute;
  top: 1em;
  right: 1em;
  fill: var(--bg-clr-accent);
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

/* --END PROFILE-- */

/* --ALERTS-- */

.alert {
  background-color: var(--bg-clr-accent);
  border-radius: 5px;
  padding: .5em 1em;
  margin: .5em;
}

.alert button {
  background-color: transparent;
  border: none;
}

.alert--success {
  background-color: var(--bg-clr-accent-2);
}

.alert--error {
  background-color: var(--bg-clr-accent-3);
}

.alert__icon {
  fill: var(--font-clr-white);
}

.alert__message {
  color: var(--font-clr-white);
}

.alert__close {
  fill: var(--font-clr-white);
  cursor: pointer;
  cursor: pointer;
}

/* --END ALERTS-- */

/* --DROPDOWNS-- */

.dropdown {
  position: relative;
  z-index: 100;
}

.dropdown__data {
  position: absolute;
  padding: .5em;
  background-color: var(--bg-clr-1);
  border-radius: 5px;
  top: 100%;
  box-shadow: 1px 1px 2px 2px var(--shadow-clr-2);
}

/* --END DROPDOWNS-- */

/* --CALENDAR-- */

.calendar {

  width: 100%;
}

.calendar__body {
  background-color: var(--bg-clr-3);
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2rem repeat(6, 1fr);
}

.calendar__header {
  display: flex;
  font-size: clamp(.8em, 2vw, 1em);
  gap: 1em;
  align-items: center;
}

.calendar__arrows {
  margin-left: auto;
}

.calendar__arrow {
  height: min(3em, 10vw);
  width: min(3em, 10vw);
  fill: var(--bg-clr-accent);
}

.calendar__day {
  display: flex;
  flex-direction: column;
  gap: .5em;
  height: clamp(8em, 10vw, 10em);
  border-bottom: 2px solid var(--bg-clr-3);
  padding: .5em;
  overflow: hidden;
  background-color: var(--bg-clr-2);
}

.day-link {
  width: fit-content;
}

.calendar__number {
  color: var(--font-clr-2);
  width: fit-content;
  margin-right: 0;
}

.calendar__day--unactive .calendar__number {
  color: var(--font-clr-1);
}

.calendar__day--word {
  margin-bottom: 1px;
  height: auto;
}

.calendar__task {
  white-space: nowrap;
  width: 100%;
  background-color: var(--bg-clr-accent);
  color: var(--font-clr-white);
  border-radius: 5px;
  padding-left: .5em;
  overflow: hidden;
  margin-left: .5em;
  font-size: .8em;
}

.task-link {
  width: 100%;
}

.calendar-small .calendar__body {
  width: 18em;
  background-color: transparent;
  height: 18em;
  gap: .2em;
}

.calendar-small .calendar__day {
  border: none;
  height: auto;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color .3s;
}

.calendar-small .calendar__day:hover {
  background-color: var(--bg-clr-2);
}

.calendar-small .calendar__day a {
  width: fit-content;
}

.calendar-small .task-link {
  display: none;
}

.calendar-small .calendar__task {
  display: none;
}


/* --END CALENDAR-- */

/* --PAGES-- */

.page--homepage {
  display: grid;
  row-gap: 1em;
  grid-template-rows: 20em 20em;
}

.page--homepage > * {
  overflow-y: auto;
}

/* --END PAGES */

/* --TASKS-- */

.task__label {
  color: var(--font-clr-3);
  font-size: 1em;
}

.task__wrapper {
  display: flex;
  gap: 1em;
  align-items: center;
}

.create-task {
  position: fixed;
  z-index: 100;
  bottom: 1em;
  right: min(2em, 3vw);
  fill: var(--font-clr-white);
  background-color: var(--bg-clr-accent);
  border-radius: 50%;
  cursor: pointer;
  width: 2em;
  height: 2em;
  transition: background-color .2s;
}

.create-task:hover {
  background-color: var(--bg-clr-accent-lighter);
}

/* --END TASKS-- */

/* --TASK FORMS-- */

.task-form {
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 100%;
  align-items: flex-start;
}

.task-form__wrapper {
  display: flex;
  gap: .5em;
  width: 100%;
  align-items: center;
}

.task-form__input {
  position: relative;
  outline: none;
  border: 2px solid var(--input-border-clr);
  color: var(--input-font);
  background-color: var(--input-clr);
  border-radius: 5px;
  padding: .3em;
  width: auto;
  box-sizing: content-box;
  transition: border .2s;
}

.task-form__input:hover,
.task-form__input:focus {
  border-color: var(--input-border-accent);
}

.task-form__input--title {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--input-border-clr);
  border-radius: 0;
  font-size: 1.5em;
  width: 100%;
}

.task-form__input--validator,
.task-form__input--validator:hover {
  border-color: var(--validator-border-clr);
}

.task-form__validation-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.task-form__validator {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 110%;
  z-index: 999;
  left: 0;
  border-radius: 5px;
  transition: opacity .3s, visibility .3s;
  padding: .5em;
  color: var(--font-clr-white);
  font-size: .8em;
  background-color: var(--validator-border-clr);
  width: 10em;
}

.task-form__input:hover + .task-form__validator {
  opacity: 1;
  visibility: visible;
}

.optional-wrapper {
  width: fit-content;
  position: relative;
  background-color: var(--bg-clr-3);
  padding: .5em;
  border-radius: 5px;
}

.optional-wrapper > div:nth-child(2) {
  margin-left: .5em;
}

.task-form__delete {
  position: absolute;
  right: .5em;
  bottom: 1em;
  fill: var(--bg-clr-accent);
  cursor: pointer;
}

/* --END TASK FORMS-- */

@media screen and (max-width: 750px) {

  /* --UTILITY-- */

  .page {
    flex-basis: auto;
    margin: 0;
    padding: 1em 0;
    min-height: calc(100vh - var(--nav-bar-size-mobile));
  }

  /* --END UTILITY-- */

  /* --HEADER-- */

  .App {
    display: block;
  }

  .header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--nav-bar-size-mobile);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__menu {
    display: block;
    fill: var(--bg-clr-accent);
    width: 2em;
    height: 2em;
    cursor: pointer;
  }

  .auth {
    overflow-y: auto;
  }

  .logo {
    display: none;
  }

  .nav {
    position: fixed;
    top: var(--nav-bar-size-mobile);
    right: 0;
    width: 70vw;
    height: calc(100vh - var(--nav-bar-size-mobile));
    padding: 1em;
    background-color: var(--bg-clr-1);
    transform: translateX(110%);
    transition: transform .3s;
    transition-timing-function: ease-in;
  }

  .nav--active {
    transform: translateX(0);
  }

  /* --END HEADER-- */

  /* --AUTH-- */
  .auth-image {
    display: none;
  }
  .auth {
    flex-basis: 100%;
  }
  /* --END AUTH-- */

  /* --CALENDAR-- */

  .calendar {
    overflow-x: auto;
    width: 100%;
  }

  :not(.calendar-small) .calendar__body {
  } 

  :not(.calendar-small) .calendar__day--word {
    height: 2em;
  }

  :not(.calendar-small) .calendar__day {
    height: 10em;
    padding: .5em 0;
  }

  
  :not(.calendar-small) .calendar__task {
    margin-left: 0;
  }

  /* --END CALENDAR-- */
}